@use '../colors';

.toolbar {
    background-color: colors.$primary;
}

.spacer {
    flex: 1 1 auto;
}

.search-bar {
    background-color: inherit;
    border: none;
    font-size: 24px;
    width: 100%;
    color: colors.$secondary 100%;
}

.search-bar::placeholder {
    color: colors.$secondary;
}


a:active, a:link, a:visited {
    color: colors.$secondary;
    text-decoration: none;
    cursor: pointer;
}

.item {
    color: colors.$secondary;
    margin-left: 20px;
    font-size: 16px;
}

.item:not(:last-child) {
    padding-right: 20px;
    border-right: 1px lightgray solid;
}

.icon {
    color: colors.$secondary;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.search-icon {
    margin-left: 8px;
    color: colors.$secondary;
}