<div class="page-header">
    <h1 class="mat-display-3">Find a bot for you!</h1>
    <div class="header-button-container">
        <button mat-button><mat-icon>favorite</mat-icon>Popular</button>
        <button mat-button><mat-icon>verified</mat-icon>Verified</button>
        <button mat-button><mat-icon>eco</mat-icon>New</button>
        <button mat-button><mat-icon>grade</mat-icon>For You</button>
    </div>
</div>
<div class="page-content">
    <div class="list-container">
        <h2 class="mat-display-2 list-item-title">Popular Bots</h2>
        <app-bot-grid [bots]="bots"></app-bot-grid>
    </div>
</div>
