@use '../mixins'; 
@use '../colors';

.page-header {
    @include mixins.page-header;
}

.container {
    @include mixins.container;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items:center;
    width: auto;
    min-height: auto;
    padding-top: 25%;
    padding-right: 25%;
    padding-left: 25%;
}

.loading-container-text {
    padding-top: 2rem;
    text-align: center;
}

.titleContainer, .title, .subtitle {
    text-align: center;
}

p {
    font-size: 16px;
}